In [69]:
import pandas as pd
import numpy as np

In [70]:
df = pd.read_excel("Satislar.xlsx")

In [71]:
df.shape

(190031, 23)

In [72]:
df.sample(7)

,nOrderId,Company,Customer ID,cPostCode,dReceievedDate,Country,status,Processed,ProcessedDate,Source,...,Total,OrderItemSKU,OrderItemTitle,ItemCategory,OrderItemQuantity,DispatchStockUnitCost,TotalWeight,PurchasePrice,TrackingNumber,PostalService
145352,132990.0,NaN,C0026322,DL7 8TB,21/12/2021 08:47,United Kingdom,PAID,1.0,21/12/2021 14:10,WOOCOMMERCE,...,45.43,2424,Soft Shaggy Dark Grey 160x220,Soft Shaggy,1.0,0.0,3.0,10.74,1572184197,Default
44289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11826,125953.0,Redacted,C0000001,Redacted,2021-01-10 11:46:00,United Kingdom,PAID,1.0,2021-01-10 14:44:00,AMAZON,...,29.99,48064,Shaggy 380 cream 120X170,Myshaggy,1.0,1.0,1.0,6.73,1570266697,Default
39440,136700.0,Redacted,C0000001,Redacted,24/01/2022 18:45,United Kingdom,PAID,1.0,25/01/2022 09:42,AMAZON,...,41.99,2763,Myshaggy 380 Grey 140x200,New Myshaggy,1.0,0.0,5.0,12.04,1572827729,Default
73465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190031 entries, 0 to 190030
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   nOrderId               95016 non-null  float64
 1   Company                56758 non-null  object
 2   Customer ID            94975 non-null  object
 3   cPostCode              94972 non-null  object
 4   dReceievedDate         95016 non-null  object
 5   Country                95016 non-null  object
 6   status                 95016 non-null  object
 7   Processed              95016 non-null  float64
 8   ProcessedDate          91552 non-null  object
 9   Source                 95016 non-null  object
 10  Currency               95016 non-null  object
 11  Subtotal               95016 non-null  float64
 12  Tax                    95016 non-null  float64
 13  Total                  95016 non-null  float64
 14  OrderItemSKU           95016 non-null  object
 15  OrderItemTitle         95016 non-null  object
 16  ItemCategory           95016 non-null  object
 17  OrderItemQuantity      95016 non-null  float64
 18  DispatchStockUnitCost  91552 non-null  float64
 19  TotalWeight            95016 non-null  float64
 20  PurchasePrice          95016 non-null  float64
 21  TrackingNumber         86842 non-null  object
 22  PostalService          95016 non-null  object
dtypes: float64(9), object(14)
memory usage: 33.3+ MB

In [74]:
dfed = pd.DataFrame(df)

In [75]:
dfed.describe().T

,count,mean,std,min,25%,50%,75%,max
nOrderId,95016.0,146509.971531,26606.158581,100003.0,123608.750000,146494.500000,169752.250000,192217.000
Processed,95016.0,0.992633,0.085516,0.0,1.000000,1.000000,1.000000,1.000
Subtotal,95016.0,44.786109,37.544744,0.0,21.950000,35.168333,59.900000,2651.350
Tax,95016.0,7.958536,7.998611,0.0,3.331667,5.831667,11.331667,636.324
Total,95016.0,52.629895,44.997694,0.0,24.990000,39.990002,69.900002,3181.620
OrderItemQuantity,95016.0,1.052191,0.270304,1.0,1.000000,1.000000,1.000000,10.000
DispatchStockUnitCost,91552.0,1.603318,6.389973,0.0,0.000000,0.000000,0.000000,254.900
TotalWeight,95016.0,3.773621,3.619178,0.0,1.000000,2.500000,6.000000,56.000
PurchasePrice,95016.0,9.767331,8.997085,0.0,4.750000,8.360000,12.110000,254.900

In [76]:
dfed.select_dtypes(include = 'object').describe().T

                count unique                       top   freq
Company         56758    747                  Redacted  55736
Customer ID     94975  32497                  C0000001  55736
cPostCode       94972  32797                  Redacted  55736
dReceievedDate  95016  84067       2020-04-03 00:35:00     16
Country         95016     25            United Kingdom  93326
status          95016      3                      PAID  92908
ProcessedDate   91552  47254       2022-10-01 17:35:00     53
Source          95016      8                    AMAZON  56111
Currency        95016      5                       GBP  94304
OrderItemSKU    95016   2670                      2758   3809
OrderItemTitle  95016   2670  Myshaggy 380 Grey 80x150   3809
ItemCategory    95016     26              New Myshaggy  24268
TrackingNumber  86842  49559            42000000000000  28223
PostalService   95016     20                   Default  62123

In [77]:
dfed.dropna(axis = 0, how = 'all', inplace = True)

In [78]:
dfed.shape

(95016, 23)

In [79]:
dfed.head()

,nOrderId,Company,Customer ID,cPostCode,dReceievedDate,Country,status,Processed,ProcessedDate,Source,...,Total,OrderItemSKU,OrderItemTitle,ItemCategory,OrderItemQuantity,DispatchStockUnitCost,TotalWeight,PurchasePrice,TrackingNumber,PostalService
0,102878.0,Redacted,C0000001,Redacted,13/06/2020 15:05,Italy,PAID,1.0,15/06/2020 15:50,AMAZON,...,33.760000,49472-my,Mynes Home UK - Tappeto piccolo e grande per s...,Default,1.0,0.0,0.0,0.0,1510000000000,2-5 Business Day
2,109559.0,NaN,C0000002,OL13 8BT,14/12/2020 08:12,United Kingdom,PAID,1.0,14/12/2020 16:23,WOOCOMMERCE,...,49.800001,2414,Soft Shaggy Collection Machine Washable in Gre...,Default,1.0,0.0,2.0,0.0,PM205128211GB,Royal Mail Tracked 48
4,108651.0,Redacted,C0000001,Redacted,28/11/2020 13:15,Germany,PAID,1.0,2020-01-12 16:23:00,AMAZON,...,55.440000,2185,THE RUGS Kurzflor Modern Teppich Wohnzimmer We...,Default,1.0,0.0,0.0,0.0,1510000000000,2-5 Business Day
6,142382.0,Redacted,C0000001,Redacted,23/03/2022 00:11,United Kingdom,PAID,1.0,23/03/2022 18:17,AMAZON FBA,...,54.900000,48125_FBA,Shaggy rugs Fluffy rug Long pile Modern living...,Default,1.0,0.0,0.0,0.0,NaN,Default
8,137474.0,Redacted,C0000001,Redacted,31/01/2022 10:30,United Kingdom,PAID,1.0,31/01/2022 22:48,AMAZON FBA,...,46.660000,48125_FBA,Shaggy rugs Fluffy rug Long pile Modern living...,Default,1.0,0.0,0.0,0.0,NaN,Default

In [80]:
dfed.reset_index(drop=True, inplace=True)

In [81]:
dfed.head()

,nOrderId,Company,Customer ID,cPostCode,dReceievedDate,Country,status,Processed,ProcessedDate,Source,...,Total,OrderItemSKU,OrderItemTitle,ItemCategory,OrderItemQuantity,DispatchStockUnitCost,TotalWeight,PurchasePrice,TrackingNumber,PostalService
0,102878.0,Redacted,C0000001,Redacted,13/06/2020 15:05,Italy,PAID,1.0,15/06/2020 15:50,AMAZON,...,33.760000,49472-my,Mynes Home UK - Tappeto piccolo e grande per s...,Default,1.0,0.0,0.0,0.0,1510000000000,2-5 Business Day
1,109559.0,NaN,C0000002,OL13 8BT,14/12/2020 08:12,United Kingdom,PAID,1.0,14/12/2020 16:23,WOOCOMMERCE,...,49.800001,2414,Soft Shaggy Collection Machine Washable in Gre...,Default,1.0,0.0,2.0,0.0,PM205128211GB,Royal Mail Tracked 48
2,108651.0,Redacted,C0000001,Redacted,28/11/2020 13:15,Germany,PAID,1.0,2020-01-12 16:23:00,AMAZON,...,55.440000,2185,THE RUGS Kurzflor Modern Teppich Wohnzimmer We...,Default,1.0,0.0,0.0,0.0,1510000000000,2-5 Business Day
3,142382.0,Redacted,C0000001,Redacted,23/03/2022 00:11,United Kingdom,PAID,1.0,23/03/2022 18:17,AMAZON FBA,...,54.900000,48125_FBA,Shaggy rugs Fluffy rug Long pile Modern living...,Default,1.0,0.0,0.0,0.0,NaN,Default
4,137474.0,Redacted,C0000001,Redacted,31/01/2022 10:30,United Kingdom,PAID,1.0,31/01/2022 22:48,AMAZON FBA,...,46.660000,48125_FBA,Shaggy rugs Fluffy rug Long pile Modern living...,Default,1.0,0.0,0.0,0.0,NaN,Default

In [82]:
dfed.drop(labels='Company', axis=1, inplace=True)

In [83]:
dfed.drop(columns=[ 'DispatchStockUnitCost', 'TrackingNumber'], inplace=True)

In [84]:
dfed.corr()

,nOrderId,Processed,Subtotal,Tax,Total,OrderItemQuantity,TotalWeight,PurchasePrice
nOrderId,1.000000,-0.146787,-0.028149,0.105434,-0.008214,0.009778,0.228739,0.042977
Processed,-0.146787,1.000000,0.006626,-0.002151,0.004621,0.004341,-0.012962,-0.006090
Subtotal,-0.028149,0.006626,1.000000,0.888517,0.988839,0.219854,0.523684,0.420601
Tax,0.105434,-0.002151,0.888517,1.000000,0.927862,0.182977,0.488571,0.307449
Total,-0.008214,0.004621,0.988839,0.927862,1.000000,0.210164,0.517916,0.404224
OrderItemQuantity,0.009778,0.004341,0.219854,0.182977,0.210164,1.000000,0.193679,-0.042043
TotalWeight,0.228739,-0.012962,0.523684,0.488571,0.517916,0.193679,1.000000,0.372215
PurchasePrice,0.042977,-0.006090,0.420601,0.307449,0.404224,-0.042043,0.372215,1.000000

In [85]:
dfed['Source'].value_counts(dropna = False)

AMAZON            56111
WOOCOMMERCE       21546
EBAY               8813
AMAZON FBA         5328
ETSY               1793
DIRECT             1024
WAYFAIRCHANNEL      359
OnBuy.com            42
Name: Source, dtype: int64

In [86]:
dfed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95016 entries, 0 to 95015
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nOrderId           95016 non-null  float64
 1   Customer ID        94975 non-null  object
 2   cPostCode          94972 non-null  object
 3   dReceievedDate     95016 non-null  object
 4   Country            95016 non-null  object
 5   status             95016 non-null  object
 6   Processed          95016 non-null  float64
 7   ProcessedDate      91552 non-null  object
 8   Source             95016 non-null  object
 9   Currency           95016 non-null  object
 10  Subtotal           95016 non-null  float64
 11  Tax                95016 non-null  float64
 12  Total              95016 non-null  float64
 13  OrderItemSKU       95016 non-null  object
 14  OrderItemTitle     95016 non-null  object
 15  ItemCategory       95016 non-null  object
 16  OrderItemQuantity  95016 non-null  float64
 17  TotalWeight        95016 non-null  float64
 18  PurchasePrice      95016 non-null  float64
 19  PostalService      95016 non-null  object
dtypes: float64(8), object(12)
memory usage: 14.5+ MB

In [87]:
dfed.dReceievedDate = dfed.dReceievedDate.apply(pd.to_datetime)

In [88]:
dfed.ProcessedDate = dfed.ProcessedDate.apply(pd.to_datetime)

In [89]:
dfed.head()

,nOrderId,Customer ID,cPostCode,dReceievedDate,Country,status,Processed,ProcessedDate,Source,Currency,Subtotal,Tax,Total,OrderItemSKU,OrderItemTitle,ItemCategory,OrderItemQuantity,TotalWeight,PurchasePrice,PostalService
0,102878.0,C0000001,Redacted,2020-06-13 15:05:00,Italy,PAID,1.0,2020-06-15 15:50:00,AMAZON,EUR,33.760000,0.000000,33.760000,49472-my,Mynes Home UK - Tappeto piccolo e grande per s...,Default,1.0,0.0,0.0,2-5 Business Day
1,109559.0,C0000002,OL13 8BT,2020-12-14 08:12:00,United Kingdom,PAID,1.0,2020-12-14 16:23:00,WOOCOMMERCE,GBP,41.500001,8.300000,49.800001,2414,Soft Shaggy Collection Machine Washable in Gre...,Default,1.0,2.0,0.0,Royal Mail Tracked 48
2,108651.0,C0000001,Redacted,2020-11-28 13:15:00,Germany,PAID,1.0,2020-01-12 16:23:00,AMAZON,EUR,46.588235,8.851765,55.440000,2185,THE RUGS Kurzflor Modern Teppich Wohnzimmer We...,Default,1.0,0.0,0.0,2-5 Business Day
3,142382.0,C0000001,Redacted,2022-03-23 00:11:00,United Kingdom,PAID,1.0,2022-03-23 18:17:00,AMAZON FBA,GBP,45.750000,9.150000,54.900000,48125_FBA,Shaggy rugs Fluffy rug Long pile Modern living...,Default,1.0,0.0,0.0,Default
4,137474.0,C0000001,Redacted,2022-01-31 10:30:00,United Kingdom,PAID,1.0,2022-01-31 22:48:00,AMAZON FBA,GBP,38.883333,7.776667,46.660000,48125_FBA,Shaggy rugs Fluffy rug Long pile Modern living...,Default,1.0,0.0,0.0,Default

In [90]:
dfed["RDyear"]=dfed.dReceievedDate.dt.year
dfed["RDmonth"]=dfed.dReceievedDate.dt.month
dfed["RDweek"]=dfed.dReceievedDate.dt.week
dfed["RDday"]=dfed.dReceievedDate.dt.day
dfed['RDdaysofweek'] = dfed['dReceievedDate'].dt.dayofweek
dfed['RDhour'] = dfed['dReceievedDate'].dt.hour
dfed.sample(10)

/var/folders/zq/ly5y6s0n65j9c368qkgnz3780000gn/T/ipykernel_45184/302611145.py:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  dfed["RDweek"]=dfed.dReceievedDate.dt.week

,nOrderId,Customer ID,cPostCode,dReceievedDate,Country,status,Processed,ProcessedDate,Source,Currency,...,OrderItemQuantity,TotalWeight,PurchasePrice,PostalService,RDyear,RDmonth,RDweek,RDday,RDdaysofweek,RDhour
56058,120203.0,C0000001,Redacted,2021-06-13 14:02:00,United Kingdom,PAID,1.0,2021-06-14 14:37:00,AMAZON,GBP,...,1.0,1.0,17.980,Default,2021,6,23,13,6,14
28945,126351.0,C0000001,Redacted,2021-08-10 08:48:00,United Kingdom,PAID,1.0,2021-08-10 13:33:00,AMAZON,GBP,...,1.0,0.8,0.000,Default,2021,8,32,10,1,8
24259,134896.0,C0000001,Redacted,2022-08-01 13:39:00,United Kingdom,PAID,1.0,2022-10-01 17:33:00,AMAZON,GBP,...,2.0,10.0,12.040,Default,2022,8,31,1,0,13
83409,168384.0,C0000001,Redacted,2022-08-22 06:08:00,United Kingdom,PAID,1.0,2022-08-22 16:10:00,AMAZON,GBP,...,1.0,1.5,3.900,New DHL - Next Day (Small),2022,8,34,22,0,6
78638,179537.0,C0000001,Redacted,2022-10-23 08:57:00,United Kingdom,PAID,1.0,2022-10-24 15:51:00,AMAZON,GBP,...,1.0,9.0,20.898,"DX-Next Day,Length",2022,10,42,23,6,8
31357,147917.0,C0000001,Redacted,2022-06-05 10:05:00,United Kingdom,PAID,1.0,2022-06-05 13:46:00,AMAZON,GBP,...,1.0,11.0,24.940,Default,2022,6,22,5,6,10
45859,108240.0,C0017297,ML3 7DN,2020-11-20 19:55:00,United Kingdom,PAID,1.0,2020-11-23 10:26:00,WOOCOMMERCE,GBP,...,1.0,1.0,6.710,Default,2020,11,47,20,4,19
92182,119920.0,C0000001,Redacted,2021-09-06 12:08:00,United Kingdom,PAID,1.0,2021-09-06 15:36:00,AMAZON,GBP,...,1.0,7.0,23.780,Default,2021,9,36,6,0,12
11137,167615.0,C0000001,Redacted,2022-08-17 11:41:00,United Kingdom,PAID,1.0,2022-08-17 14:58:00,AMAZON,GBP,...,1.0,2.4,6.324,New DHL - Next Day (Medium),2022,8,33,17,2,11
17234,130442.0,C0006618,EN8 9QN,2021-11-28 23:14:00,United Kingdom,PAID,1.0,2021-11-29 16:51:00,WOOCOMMERCE,GBP,...,1.0,2.0,3.950,Default,2021,11,47,28,6,23

In [91]:
dfed["RDday_name"]=dfed.dReceievedDate.dt.day_name()
dfed['RDdaysofweek'] = dfed['RDdaysofweek'] + 1

In [92]:
dfed['is_weekend'] = np.where(dfed['RDday_name'].isin(['Sunday', 'Saturday']), 1,0)

In [93]:
dfed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95016 entries, 0 to 95015
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nOrderId           95016 non-null  float64
 1   Customer ID        94975 non-null  object
 2   cPostCode          94972 non-null  object
 3   dReceievedDate     95016 non-null  datetime64[ns]
 4   Country            95016 non-null  object
 5   status             95016 non-null  object
 6   Processed          95016 non-null  float64
 7   ProcessedDate      91552 non-null  datetime64[ns]
 8   Source             95016 non-null  object
 9   Currency           95016 non-null  object
 10  Subtotal           95016 non-null  float64
 11  Tax                95016 non-null  float64
 12  Total              95016 non-null  float64
 13  OrderItemSKU       95016 non-null  object
 14  OrderItemTitle     95016 non-null  object
 15  ItemCategory       95016 non-null  object
 16  OrderItemQuantity  95016 non-null  float64
 17  TotalWeight        95016 non-null  float64
 18  PurchasePrice      95016 non-null  float64
 19  PostalService      95016 non-null  object
 20  RDyear             95016 non-null  int64
 21  RDmonth            95016 non-null  int64
 22  RDweek             95016 non-null  int64
 23  RDday              95016 non-null  int64
 24  RDdaysofweek       95016 non-null  int64
 25  RDhour             95016 non-null  int64
 26  RDday_name         95016 non-null  object
 27  is_weekend         95016 non-null  int64
dtypes: datetime64[ns](2), float64(8), int64(7), object(11)
memory usage: 20.3+ MB

In [94]:
dfed['Processed'].value_counts(dropna = False)

1.0    94316
0.0      700
Name: Processed, dtype: int64

In [95]:
dfed = dfed[dfed['Currency'] != 'PLN']

In [67]:
dfed = dfed[dfed['Processed'] == '1.0']

In [ ]:
dfed['Processed'].value_counts(dropna = False)

In [ ]:
dfed['OrderItemQuantity'].value_counts(dropna = False)

In [96]:
dfed['Currency'].value_counts(dropna = False)

GBP    94304
UNK      399
EUR      307
SEK        5
Name: Currency, dtype: int64

In [ ]:
dfed.drop(labels='Processed', axis=1, inplace=True)

In [ ]:
dfeda = dfed.drop(dfed[dfed.Currency == 'UNK'].index)    #Currency=UNK olan satirlari drop ediyoruz ve df.mizin adi dfeda oluyor.
dfeda

In [ ]:
dfeda['Currency'].value_counts(dropna = False)

In [ ]:
dfeda.info()

In [ ]:
dfeda

In [ ]:
dfeda.to_excel('dfeda.xlsx')

In [ ]:
df2 = pd.read_excel("dfeda.xlsx")

In [ ]:
df2 = df2[(df2['Country'] != "UNKNOWN") | (df2["Currency"] != "UNK")]

In [ ]:
df2.isnull().sum()

In [ ]:
df2.head()

In [ ]:
dfeda.drop_duplicates()

In [ ]:
df = pd.read_excel("PurchasePriceZero.xlsx")

In [ ]:
for i in range(0,len(dfeda)+352):
    try:
        a = df[df['OrderItemSKU']==dfeda['OrderItemSKU'][i]]
        if not a.empty:
            dfeda['PurchasePrice'][i]= a['PurchasePrice'].values[0]
    except Exception as e:
        print(e)

In [ ]:
dfeda[dfeda['nOrderId']==0]

In [ ]:
dfeda[dfeda['OrderItemSKU']==18113]

In [ ]:
dfeda.head(5)

In [ ]:
dfeda.info()

In [ ]:
for i in range(0,len(dfeda)):
    try:
        print(i)
        dfeda.drop(dfeda.loc[dfeda['NORDERID']==df_cancelled['nOrderId'][i]].index, inplace=True)
    except Exception as e:
        print(e)